{% extends "base.html" %}
{% block content %}
<div class="card">
    <h2>Пользователи</h2>
    <table>
        <thead>
            <tr>
                <th>Telegram ID</th>
                <th>Username</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Телефон</th>
                <th>Дата</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.tg_id }}</td>
                <td>{{ user.username or "" }}</td>
                <td>{{ user.first_name or "" }}</td>
                <td>{{ user.last_name or "" }}</td>
                <td>{{ user.phone or "" }}</td>
                <td>{{ user.created_at.strftime('%Y-%m-%d %H:%M') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
